name: Tests
on:
  push:
  pull_request:

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        python: ["3.9", "3.10", "3.11", "3.12", "3.13", "3.14"]
        os: [ubuntu-latest]
        include:
          - os: macos-latest
            python: "3.13"
          - os: windows-latest
            python: "3.13"
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python }}

      - run: pip install flake8
      - run: flake8

      - run: pip install build
      - run: python -m build .

      - run: pip install twine
      - run: twine check dist/*

      - run: pip install dist/*.whl
        shell: bash

      - run: pip install pytest
      - run: pytest

      - uses: actions/upload-artifact@v6
        with:
          name: dist ${{ matrix.os }} ${{ matrix.python }}
          path: dist/

  deploy:
    needs: test
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v7
        with:
          name: dist ubuntu-latest 3.13
          path: dist/
      - uses: pypa/gh-action-pypi-publish@master
        with:
          user: __token__
          password: ${{ secrets.PYPI_TOKEN }}
